.header{
    background-color: #C9ABAB;
    color: white;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 1000;
    border-bottom: 1px solid #FFFFE0;
}

.footer{
    background-color: #C9ABAB;
    color: white;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: #DFCDCD;
    margin: 0;
    
}

main{
    min-width: 200px;
    min-height: 91vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    
    min-width: 200px;
    min-height: 803px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.label{
    border: 3px solid #ba8e8e;
    padding:  0 5px;
}

.info{
    background-color: #B08484;
    width: 900px;
    padding-top: 80px;
}

.search-form {
    display: flex;
}
.search-field {
    background-color: #E4BBBB;
    flex-grow: 1;
    height: 40px;
    border: 5px solid #E4BBBB;
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 100%;
    
}

.content-field {
    background-color: #E4BBBB;
    flex-grow: 1;

    border: 5px solid #E4BBBB;
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 100%;
    width: 80%;
    height: 10vh;
}
.search-btn {
    padding: 0 20px;
    font-size: 100%;
    font-weight: bold;
    background-color: #ba8e8e;
    border: 3px solid #ba8e8e;
    
    color: #f8f4f4;
    cursor: pointer;
    box-sizing: border-box;
}
.search-btn:hover {
    background-color: #F2F5F1;
    color: black;
}

.finder{
    background-color: #B08484;
    width: 500px;
    height: 120px;
    
    
}

.container_header{
    height: 60px;
    text-align: center;
    color: #f8f4f4;
    font-size: 25px;
    font-weight: 600;

}
.container_header_info{
    
    text-align: center;
    color: #f8f4f4;
    font-size: 18px;
    font-style: italic;
}


.auth_header{
    
    text-align: center;
    color: #f8f4f4;
    font-size: 30px;
    font-weight: 600;
}
.park_header{
    background-color: #B08484;
    
    text-align: center;
    color: #f8f4f4;
    font-size: 30px;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
}
.card_header{
    
    text-align: center;
    color: #f8f4f4;
    font-size: 20px;
    font-weight: 600;

}
.warning{
    
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 600;

}
.container_header p {
    margin-top: 0;
  }
  

.card{
    background-color: #C9A6A6;
    width: 380px;
    margin: 30px;
    border: 3px solid #E4BBBB;
    text-align: center;
}
.park_card{
    background-color: #C9A6A6;
    width: 380px;
    margin: 30px;
    border: 3px solid #E4BBBB;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.note_card{
    background-color: #C9A6A6;
    width: 380px;
    margin: 30px;
    border: 3px solid #E4BBBB;
    border-radius: 10px 10px 0 0;
    text-align: center;
    /* height: 20vh; */
}

table{
    width: 100%;
    border: 2px solid #E4BBBB;
    border-collapse: collapse;
    text-align: center;
}
td{
    border: 1px solid #E4BBBB;
}

.auth{
    text-align: center;
    background-color: #B08484;
    float: left;
}

.margin_5{
    margin: 5px;
}
.back{
    background-color: #E4BBBB;   
}
.delete{
    background-color: #CD5C5C;   
}

/* чтобы страница "не подпрыгивала" к id */
[id^="all"] {
    position: fixed;  
  }
  [id^="all"]:target + table a[href^="#all"],
  [id^="all"]:not(:target) + table tbody tr:nth-of-type(n+2),  /* 2 - это порядковый номер tr, после которого строки будут изначально удалены (включительно) */
  [id^="all"]:not(:target) + table a[href="#close"] {
    display: none;
  }
  #map {
    height: 220px; 
   
    
}