.header{
    background-color: #C9ABAB;
    color: white;
    padding: 40px 0;
}

.footer{
    background-color: #C9ABAB;
    color: white;
    padding: 40px 0;
}

body{
    background-color: #DFCDCD;
    margin: 0;
    
}

main{
    min-width: 200px;
    min-height: 803px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    
    min-width: 200px;
    min-height: 803px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.info{
    background-color: #B08484;
    width: 900px;
    
}

.search-form {
    display: flex;
}
.search-field {
    background-color: #E4BBBB;
    flex-grow: 1;
    height: 60px;
    border: 5px solid #E4BBBB;
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 100%;
    
}
.search-btn {
    padding: 0 20px;
    font-size: 100%;
    font-weight: bold;
    background-color: #C9A6A6;
    border: 3px solid #C9A6A6;
    border-left: none;
    color: #f8f4f4;
    cursor: pointer;
    box-sizing: border-box;
}
.search-btn:hover {
    background-color: #F2F5F1;
    color: black;
}

.finder{
    background-color: #B08484;
    width: 500px;
    height: 120px;
    
    
}

.container_header{
    height: 60px;
    text-align: center;
    color: #f8f4f4;
    font-size: 20px;
    
}

.auth_header{
    height: 40px;
    text-align: center;
    color: #f8f4f4;
    font-size: 30px;
    
}
.container-header p {
    margin-top: 0;
  }

.card{
    background-color: #C9A6A6;
    width: 380px;
    margin: 30px;
    
}

table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
}

.auth{
    text-align: center;
    background-color: #B08484;
    float: left;
}

.margin_5{
    margin: 5px;
}


/* чтобы страница "не подпрыгивала" к id */
[id^="all"] {
    position: fixed;  
  }
  [id^="all"]:target + table a[href^="#all"],
  [id^="all"]:not(:target) + table tbody tr:nth-of-type(n+3),  /* 4 - это порядковый номер tr, после которого строки будут изначально удалены (включительно) */
  [id^="all"]:not(:target) + table a[href="#close"] {
    display: none;
  }